.factorypath
.classpath
.continue
.settings
.project
.gradle
.idea

htmlReport
release
target
gradle
build
bin

dependency-reduced-pom.xml
.vscode/settings.json
Historia-Core.iml
historia.db
gradlew.bat
pom.xml.*
gradlew
